<!DOCTYPE html>
<html>
  <head>
    <title>Mon SSii</title>
    <script src="backend/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../backend/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../backend/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../backend/stylesheets/admin.css">
  </head>
  <body>
    <div class="container">
      <%- body -%>
    </div>
  </body>
</html>